body {
  margin: 0px;
}

.container {
  height: 100vh;
  background-color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  background-color: #363636;
  border-bottom: solid 3px rgb(255, 196, 0);
  gap: 20px;
  max-width: 100%;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 5px;
}

.iconInven {
  width: 25px;
  max-width: 100%;
}

.logo p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.laporan1 {
  text-align: center;
  line-height: 10px;
  width: 15%;
}

.report {
  text-decoration: none;
  color: #b3b3b3;
}

.laporan {
  color: #b3b3b3;
  font-size: 11px;
  font-family: "Poppins";
}

.laporan:hover {
  color: white;
}

.iconReport {
  width: 25px;
}

.nav {
  margin: 10px;
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: center;
}

/* .nav {
  margin: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

.bar {
  padding: 10px;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  height: 100%;
}

a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-size: 10px;
}

a:hover {
  color: white;
}

.card {
  margin: 30px;
}

.childCard1 {
  justify-content: space-between;
  background-color: #ececec;
  align-items: center;
  padding: 15px;
  margin: 10px;
  display: flex;
  border: 1px solid #b9b9b9;
}

.cardLogo {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardNewButton button {
  background-color: #0050a5;
  color: white;
  padding: 5px;
  font-family: "Poppins";
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cardNewButton button:hover {
  background-color: aqua;
}

.childCard1 img {
  width: 25px;
}
